<a href="https://colab.research.google.com/github/gokul09202002/gokul/blob/main/gokulfirstlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=13
c=a+b
c

23

In [1]:
num=8
num_sqrt=num**0.5
print('the square rootof %0.3f is %0.3f'%(num,num_sqrt))

the square rootof 8.000 is 2.828

In [2]:
a=0b1010
b=100
c=0o310
d=0x12c
float_1=10.5
float_2=1.5e2
x=3.14j
print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [4]:
string="this is python"
char="c"
multiline_str="""this is a multiline string with more than one line code."""
unicode=u"\u00dcnic\u00f6de"
raw_str=r"raw \n string"
print(string)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
c
this is a multiline string with more than one line code.
Ünicöde
raw \n string

In [10]:
x =(1==True)
y =(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [18]:
drink="available"
food=None

def menu(x):
  if x== drink:
    print(drink)
  else:
      print(food)
      menu(drink)
      menu(food)

In [21]:
print ("Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit")
n1 = input("Enter the choice of operation :")
n = int(n1)
if (n == 1):
 print (" You have chosen addition Option :")
 a1 = input(" Enter the value for A :")
 b1 = input(" Enter the value for B :")
 a = int(a1)
 b = int(b1)
 c = a + b
 print ("The Result",a,"+",b,"=",c)
elif (n == 2):
 print (" You have chosen subtraction Option :")
 a1 = input(" Enter the value for A :")
 b1 = input(" Enter the value for B :")
 a = int(a1)
 b = int(b1)
 c = a - b
 print ("The Result",a,"-",b,"=",c)
elif (n == 3):
 print (" You have chosen multiplication Option :")
 a1 = input (" Enter the value for A :")
 b1 = input (" Enter the value for B :")
 a = int (a1)
 b = int (b1)
 c = a * b
 print ("The Result",a,"*",b,"=",c)
elif (n==4):
 print (" You have given a wrong :",n)
 exit ()

Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit
Enter the choice of operation :1
 You have chosen addition Option :
 Enter the value for A :3
 Enter the value for B :5
The Result 3 + 5 = 8

In [26]:
x=10+10.5
print("+ OPERATOR IS EVALUATED=",x)

+ OPERATOR IS EVALUATED= 20.5

In [27]:
x=200+20.5*5
print("*operator is evaluated",x)

*operator is evaluated 302.5

In [1]:
x= 100 * 5 + (10 %2) ** 1
print(x)

500

In [28]:
print (" Fibonacci Series")
n1 = input("Enter the number : ")
n = int(n1)
if (n>0):
  f = 0
  s = 1
  i = 0
  next = 0
  while (1):
   print ("\n\n*******************************************")
   for i in range (n+1):
    if (i <= 1):
      print(i)
    else:
      next = f + s
      f = s
      s = next
      print (next)
   i = i + 1
   break
else:
  print (" You have entered wrong input", n)

 Fibonacci Series
Enter the number : 5


*******************************************
0
1
1
2
3
5

In [32]:
a = 10
b = 4
a|b
print(a|b)

14

In [ ]:
a=20
b=10
c=a-b
c

10

In [ ]:
x="gokul"
type(x)

str

In [ ]:
y=45
type(y)

int

In [ ]:
x=13e4
print(x)
type(x)

130000.0

float

In [ ]:
x=13j
type(x)

complex

In [ ]:
x=15<5
type(x)

bool

In [ ]:
x="hello"
y="crescent"
z=input()
print("output=",x,y,z)

gokul
output= hello crescent gokul

In [ ]:
name="gokula krishnan"
len(name)

15

In [ ]:
name="gokul"
name[2]

'k'

In [ ]:
x=input('enter the number:')
y=input('enter the nu8mber:')
sum=int(x)+int(y)
print('the sum {0} and {1} is {2}'.format(x,y,sum))

enter the number:20
enter the nu8mber:40
the sum 20 and 40 is 60

In [ ]:
x={1,2,3,4,5}
type(x)

set

In [ ]:
x=(1,2,3,4,5)
type(x)

tuple